a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(112, 134, 247);
}
img {
  border-radius: 10px;
  margin: 6%;
  width: 85%;
  border: 5px solid rgb(0, 0, 0);
  cursor: pointer;
  height: 60%;
}
h1 {
  margin-top: -2%;
  margin-left: 6%;
}

hr {
  margin-top: -1%;
  margin-bottom: 7%;
  margin-inline: 4%;
}

div {
  /* for slow color changing transition */
  transition: background-color 1s;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  float: left;
  width: 23%;
  height: 700px;
  margin: 1% 1%;
  box-shadow: 0 0 15px rgb(60, 59, 59);
  overflow-y: auto;
  overflow-x: hidden;
}
/* changes color on div while hover mouse over it! */
div:hover {
  background-color: #a9fa67;
}

.description {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  margin-top: -2%;
  margin-left: 6%;
  margin-right: 6%;
}

.head {
  margin-top: -5%;
  margin-left: 6%;

  font-style: bold;
  font-size: 16px;
}
